/* @import "../../dotfiles/theme/custom-tokens.css"; */

@define-color bg          #0D0D0D;
@define-color surface     #405949;
@define-color muted       #90A680;
@define-color subtle      #90A680;
@define-color text        #F2E0D5;
@define-color accent      #F2EEB6;

* {
    margin: 0;
    padding: 0;
    min-height: 0px;
    border: none;
    border-radius: 0;
    font-family: "Inter", "JetBrainsMono Nerd Font";
    color: @text;
}

window#waybar {
    background-color: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background-color: alpha(@bg, 0.5);
    border-radius: 13px;
    padding: 8px;
}

tooltip {
    border-radius: 3px;
}

#workspaces {
    margin: 0 0;
}

#workspaces button {
    background-color: transparent;
    border-radius: 8px;
    min-height: 30px;
    min-width: 30px;
    margin: 0 3px;
    transition: all 0.3s cubic-bezier(0.75, 0.17, 0.43, 1);
}

#workspaces button label {
    color: @muted;
    font-weight: 700;
    transition: all 0.3s cubic-bezier(0.75, 0.17, 0.43, 1);
}

#workspaces button.active {
    background-color: @accent;
}
#workspaces button.active label {
    color: @bg;
}

#workspaces button:hover {
    background: alpha(@muted, 0.2);
    box-shadow: none;
    text-shadow: none;
}

#battery,
#clock,
#pulseaudio {
    margin-left: 8px;
    font-size: 16px;
    letter-spacing: -1px;
}

#pulseaudio-slider {
    padding: 0;
    margin: 0;
}
#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 10px;
    min-width: 80px;
    border-radius: 5px;
    background: @bg;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background: @text;
}
